<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="home.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto&display=swap' rel='stylesheet'>
</head>
<body bgcolor="rgb(255,255,255,0.5)">
<p>
<div class="container1">
<button id="b1">
<a href="doctor_login.html">DOCTOR<br>LOGIN</a>
</button></p>

<button id="b2">
<a href="patient_login.html">PATIENT<br>LOGIN</a>
</button></body></div>
</body>

</body>
</html>
