<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
</head>
<body>
    
   
    <hr>
    <br>
    <a href="{% url 'signupp' %}">Signup as patient</a> &nbsp;&nbsp; |
    <a href="{% url 'loginp' %}">Login as pateint </a> <br>
    <a href="{% url 'signupd' %}">Signup as doctor</a> &nbsp;&nbsp; |
    <a href="{% url 'logind' %}">Login as doctor </a> <br>


</body>
</html>